body {
	font-family: 'Poppins', sans-serif;
}

header {
	padding-top: 17px;
	padding-bottom: 19px;
	overflow: auto;
}

.container {
	width: 100%;
	max-width: 1230px;
	margin: 0 auto;
}

.container-sm {
	width: 100%;
	max-width: 940px;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}

.w50 {
	width: 50%;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.center {
	text-align: center;
}

#home {
	color: #222222;
	font-size: 25px;
	margin-right: -11px;
}

nav li a {
	color: #222222;
	text-decoration: none;
	margin-right: 30px;
}

nav ul li {
	float: left;
	font-weight: 400;
	font-size: 12px;
	line-height: 23px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

nav {
	float: left;
	width: 540px;
	overflow: auto;
	position: relative;
	top: 14px;
	left: 71px;
	padding-bottom: 26px;
}

.logo-wrap {
	background: #f56039;
	max-width: 150px;
	width: 150px;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 0;
	padding-right: 0;
	text-align: center;
	float: left;
	position: absolute;
	left: 645px;
	top: 0;
	z-index: 5;
}

.header-form button {
	background: #B8BDC9;
	border-radius: 0px 3px 3px 0px;
	border: none;
	color: #ffff;
	font-size: 14px;
	line-height: 21px;
	padding: 10.5px 45px;
	position: relative;
	
}

.header-form input {
	height: 36px;
	border: none;
	color: #E0E0E0;
	box-sizing: content-box;
	width: 100%;
	position: relative;
	padding-left: 40px;
}

.header-form label::before {
	content: "";
	height: 27px;
	width: 24px;
	background: url(../media/loop.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	left: 10px;
	top: 5px;
	z-index: 10;
}

.header-form input::placeholder {
	content: "";
	width: 116px;
	height: 21px;
	font-size: 14px;
	line-height: 21px;
	font-family: 'Poppins';
	color:#E0E0E0;
	padding-top: 10px;
	padding-bottom: 11px;
	padding-left: 15px;
}

.header-form label {
	border: 2px solid #E0E0E0;
	height: 38px;
	display: block;
	float: left;
	width: 100%;
	max-width: 251px;
	border-radius: 2px 0px 0px 2px;
	position: relative;
}

.header-form {
	float: right;
	max-width: 390px;
	width: 100%;
	position: relative;
	margin-right: -15px;

}

.section1 {
	background: url(../media/background.jpg);
	padding: 192px 0px;
	background-size: cover;
	background-position: bottom right;
	color: #444444;
	position: relative;
	top: -13px;
	left: 83px;
}

.section1 h1 {
	font-size: 49px;
	line-height: 68px;
	width: 556px;
	margin-bottom: 8px;
	position: relative;
	left: -86px;
	top: -41px;
}

.section1 h1 span::before {
	content: "";
	background: #2BCA8B;
	width: 100%;
	position: absolute;
	bottom: 2px;
	left: 0;
	height: 4px;
}

.section1 h1 span {
	color: #2BCA8B;
	padding-right: 6px;
	position: relative;
}


.section1 p {
	font-size: 19px;
	line-height: 35px;
	width: 556px;
	margin-bottom: 87px;
	margin-top: -4px;
	position: relative;
	left: -85px;
	top: -42px;
}

.section1-btn {
	color: #ffff;
	font-size: 23px;
	line-height: 23px;
	float: left;
	width: 210px;
	text-align: center;
	padding-top: 9px;
	padding-right: 37px;
	padding-bottom: 0px;
	padding-left: 0px;
}


.section1-btn.btn-orange {
	max-width: 175px;
	background: #F55F39;
	position: relative;
	top: -41px;
	left: -85px;
}

.section1-btn.btn-white {
	background: #ffff;
	color: #4D4D4D;
	position: relative;
	top: -42px;
	left: -70px;
	padding-left: 18px;
}

.section1-btn span {
	font-size: 14px;
	line-height: 24px;
	display: block;
	padding-top: 7px;
	margin-left: -17px;
}

.writers {
	background: url(../media/backwriters.png);
	position: absolute;
	width: 600px;
	top: -118px;
	left: 715px;
}

.section2 {
	position: relative;
	padding: 51px 0px 58px 0px;
}

#navigation-section2 li a {
	font-size: 14px;
	line-height: 29px;
	color: #252061;	
	width: 245px;
	overflow: auto;
	position: relative;
	text-transform: none;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 8px;
	padding-right: 0px;
	top: 0px;
	left: 0px;
	text-decoration: none;
}

.p-section2 {
	color: #2BCA8B;
	width: 125px;
	font-size: 28px;
	line-height: 39px;
	position: relative;
	float: left;
	overflow: auto;
	width: 153px;
	left: -40px;}

.h3-writers {
	font-size: 24px;
	line-height: 23px;
	color: #FFFFFF;
	position: relative;
	top: 34px;
	left: 35px;
	padding-bottom: 26px;
	padding-top: 37px;
	padding-left: 55px;

}

.p-writers {
	font-size: 14px;
	line-height: 23px;
	color: #FFFFFF;
	position: relative;
	padding-bottom: 19px;
	padding-left: 55px;
	top: 34px;
	left: 35px;
	width: 306px;

}

.img-writers {
	position: relative;
	left: 59px;
	top: 3px;
}

.btn-writers {
	position: relative;
	top: -97px;
	left: -9;
	background: #2BCA8B;
	font-size: 15px;
	line-height: 23px;
	color: #FFFFFF;
	width: 136px;
	border: none;
	padding: 12px 15px 12px 15px;
	text-align: center;
}

